<div>

        <h1>Todos</h1>
        <table class="table table-hover table-striped">
            <tr>
                <th>done</th>
                <th>label</th>
                <th></th>
            </tr>
            <tr ng-repeat="todo in todos">
                <td><input type="checkbox" disabled ng-model="todo.done"/></td>
                <td>{{todo.label}}</td>
                <td>
                    <button class="btn" ng-click="selectTodo(todo)">select</button>
                </td>
            </tr>
        </table>

</div>
